<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infraestructura.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Infraestructura.Properties.Settings>
            <setting name="Infraestructura_WsGenerarGuiasPruebas_JRpcServerSoapManagerService"
                serializeAs="String">
                <value>http://sandbox.coordinadora.com/agw/ws/guias/1.6/server.php</value>
            </setting>
            <setting name="Infraestructura_WsGenerarGuiasReal_JRpcServerSoapManagerService"
                serializeAs="String">
                <value>http://guias.coordinadora.com/ws/guias/1.6/server.php</value>
            </setting>
            <setting name="Infraestructura_Ws_GT_Pruebas_wsGenerarPlano"
                serializeAs="String">
                <value>http://192.168.120.81:7780/GTIntegrationMultiCia_Pruebas/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
            <setting name="Infraestructura_Ws_GT_Real_wsGenerarPlano" serializeAs="String">
                <value>http://192.168.120.81:7780/GTIntegrationMultiCia/ServiciosWeb/wsGenerarPlano.asmx</value>
            </setting>
        </Infraestructura.Properties.Settings>
    </applicationSettings>
</configuration>